.header {
  padding: 4rem 0;
}
.header_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  nav {
    display: flex;
    gap: 6rem;
    font-size: 1.2rem;
    ul {
      display: flex;
      align-items: center;
      gap: 4rem; 
    }
    a:hover {
      color: var(--btn-hover);
      font-size: 1.3rem;
    }
  }
}
.header_logo {
  width: 10rem;
}
.header_buttons {
  display: flex;
  gap: 2rem;
  button {
    background-color: var(--btn-primary);
    color: var(--color-body);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: var(--btn-hover);
    }
  }
}